body, html {
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8d7da;
    display: flex;
    align-items: center;
    padding: 20px;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

header .title {
    flex: 1;
    text-align: center;
}

header .title h1 {
    margin: 0;
    color: black;
}

header .title img {
    height: 60px;
    margin-left: 10px;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
}

.categoria {
    margin-bottom: 20px;
}

.categoria h3 {
    color: black;
    padding: 10px;
    margin: 0 -20px 10px;
}

.produtos {
    display: flex;
    overflow-x: scroll;
    padding: 10px 0;
}

.produto {
    padding: 10px 10px;
    margin-right: 5px;
    flex: 0 0 115px;
    text-align: center;
}

.produto img {
    max-width: 100%;
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.produto .nome-produto {
    font-weight: bold;
    margin: 10px 0 5px;
}

.produto .preco-produto {
    color: green;
}

footer {
    text-align: center;
    padding: 10px;
    color: black;
}

footer .botoes button {
    padding: 15px 30px;
    font-size: 18px;
}

footer .cancelar-pedido {
    background-color: #ff4545;
}

footer .finalizar-pedido {
    background-color: #60ff60;
}
