body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: #FFF;
    font-family: Arial, sans-serif;
}

.flex-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    height: 33.33vh;
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

header img {
    width: 150px;
    margin: 30px auto -5px auto;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10% 10% 0 0;
    background-color: #eeeeee;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
}

.content > img{
    border-radius: 25px;
    box-shadow: 4px 4px 10px;
}

form {
    top: 50%;
    left: 50%;
    z-index: 1;
    position: fixed;
    transform: translateX(-50%);
}

#name {
    width: 300px;
    height: 30px;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    border-radius: 15px;
    background-color: #fff;
    border: 2px solid #000;
}

footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
    background-color: #eeeeee;
    border-top: 1px solid #ddd;
}

button{
    background-color: #FFE2E2;
    border-radius: 100px;
    height: 40px;
    width: 250px;
}
button:hover{
    background-color: #FFC3C3;
    font-weight: 800;
}